{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "no-extra-boolean-cast": 0,
    "class-methods-use-this": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0
  },
  "globals": {
    "describe": false,
    "before": false,
    "it": false
  }
}
